.CodeMirror,
.stdout {
  font-family: "Operator Mono", Menlo, Monaco, "Lucida Console", monospace; }

.sling-container {
  display: grid;
  height: 100%;
  grid-template-areas: "header" "code" "stdout"; }
  @media (min-width: 768px) {
    .sling-container {
      grid-template-columns: 50% 50%;
      grid-template-areas: "header header" "code   stdout"; } }

.code-editor-container {
  max-height: 100%;
  background: #FFF;
  overflow-y: scroll;
  cursor: text;
  grid-area: code; }

.stdout-container {
  grid-area: stdout; }

.editor-header {
  grid-area: header; }

.run-btn {
  margin: 30px; }

.stdout {
  min-height: 100px;
  background: #141414;
  padding: 5px;
  margin: 0 30px; }

.chats-container {
  background-color: #262626;
  padding: 20px;
  text-align: center;
}

.messages {
  border-radius: 15px;
  background-color: white;
  text-align: left;
}

#msg {
  border-radius: 5px;
}

#messages {
  height:200px;
  width: auto;
  overflow:hidden;
  overflow-y:scroll;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  color: black;
  padding: 5px 10px;
}
